body {
	background-color: c7ccbd;
}
#center1{
	text-align:center;
	border-width:auto;
	
	border-right-style: solid;
	border-right-width:2px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-left-style:dotted;
	border-left-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	text-transform: uppercase;
}
#center2{
	text-align:center;
	border-width:auto;
	
	border-right-style: solid;
	border-right-width:2px;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-left-style:dotted;
	border-left-width:1px;
	border-top-style:solid;
	border-top-width:2px;
	text-transform: uppercase;
}
#dir{
	text-align:right;
}
form{
    padding: 10em;
  }
#tous{
	position: 10%;
	background-color:#fcfcea;
    z-index: 16;
    top: 10;
    width: 80%;    
}
div {
  padding: 2em;
}
h1{
	text-align:center;
	text-transform: uppercase;
	background-color:#b71236;
}











